.backdrop {
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 50;
  padding: 18px;
}

.modal {
  top: 15%;
  left: 30%;
  width: 40vw;
  height: 60vh;
  position: fixed;
  background-color: #fff;
  z-index: 70;
  padding: 20px;
}
